# database config
postgres:
  cosmosUser: "cosmos_database_user"
  cosmosPassword: "cosmos_database_password"
  cosmosHost: "cosmos_database_name"
  cosmosHost: "cosmos_database_host_ip"
  cosmosPort: "cosmos_database_host_port"

  injectiveUser: "injective_database_user"
  injectivePassword: "injective_database_password"
  injectiveName: "injective_database_name"
  injectiveHost: "injective_database_host_ip"
  injectivePort: "injective_database_host_port"

# gRPC
gRpc:
  cosmosIp: "cosmos_grpc_host_ip"
  cosmosPort: "cosmos_grpc_host_grpc_port"
  injectiveIp: "injective_grpc_host_ip"
  injectivePort: "injective_grpc_host_grpc_port"

alert:
  cosmosOperatorAddr: "cosmosvaloperxxxxx,cosmosvaloperyyyy"    # The address starts with "cosmosvaloper"
  injectiveOperatorAddr: "injvaloperxxxxx,injvaloperyyyy"    # The address starts with "injvaloper"
  timeInterval: 600  # Monitoring time interval. 600 means the cosmos-monitor runs every 600 seconds
  blockInterval: 100 # Used to calculate the recent signature rate. 100 means to count the signatures rate of the last 100 blocks
  proportion: 0.05 # Signature rate
  cosmosStartingBlockHeight: 12495683 # The cosmos starting block height of the monitor program
  injectiveStartingBlockHeight: 12495683 # The injective starting block height of the monitor program
mail:
  host: "mail_host"
  port: "mail_port"
  username: "mail_username"
  password: "mail_password"
  sender: "sender_mail_address"
  cosmosReceiver1: "cosmos_receiver1_mail_address" # Receive all alert emails of cosmos
  cosmosReceiver2: "cosmos_receiver2_mail_address" # Only receive emergency alert emails of cosmos, like jailed/inactive, etc.
  injectiveReceiver1: "injective_receiver1_mail_address" # Receive all alert emails of injective
  injectiveReceiver2: "injective_receiver2_mail_address" # Only receive emergency alert emails of injective, like jailed/inactive, etc.

log:
  path: "log_save_location"
  level: "log_level" # info, error
  eventlogpath: "event_log_save_location"